<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Footer</span>
    <span class="app-spacer"></span>
    <a mat-icon-button href="https://github.com/hanselrd" target="_blank" matTooltip="GitHub">
      <i class="fa fa-github fa-2x"></i>
    </a>
    <a mat-icon-button href="https://facebook.com/" target="_blank" matTooltip="Facebook">
      <i class="fa fa-facebook fa-2x"></i>
    </a>
    <a mat-icon-button href="https://twitter.com" target="_blank" matTooltip="Twitter">
      <i class="fa fa-twitter fa-2x"></i>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row class="app-center">
    <small>
      &copy; Copyright 2017
      <strong>
        <a href="https://github.com/hanselrd">Hansel De La Cruz</a>
      </strong>
    </small>
  </mat-toolbar-row>
</mat-toolbar>
