<app-page title="Home" subtitle="HomeComponent">
  <div *ngIf="(authService.authState | async); else guest">
    <!-- {{ (authService.user.data | async) | json }} -->
    <!-- {{ ((authService.user.data | async)?.status?.data | async)?.status }} -->
    {{ (authService.user.data | async)?.id }}
    <br>
    {{ ((authService.user.data | async)?.status.data | async) | json }}
    <br>
    {{ !!(authService.user.data | async) }}
    <button mat-raised-button color="primary" (click)="authService.logOut()">LOG OUT</button>
  </div>
  <ng-template #guest>
    <button mat-raised-button color="primary" (click)="google()">GOOGLE</button>
    <button mat-raised-button color="primary" (click)="facebook()">FACEBOOK</button>
    <button mat-raised-button color="primary" (click)="twitter()">TWITTER</button>
    <button mat-raised-button color="primary" (click)="github()">GITHUB</button>
  </ng-template>
</app-page>
