<div class="app-no-print">
  <div class="app" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar class="mat-elevation-z6 header" color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="appSidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span><strong>Hansel De La Cruz</strong></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container fxFlex>
      <div class="content" fxLayout="column">
        <app-header></app-header>
        <div class="router" fxFlex>
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
      <mat-sidenav #appSidenav>
        <app-sidenav></app-sidenav>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</div>
<div class="app-print">
  <app-cv *ngIf="router.isActive('cv', true); else notAllowed"></app-cv>
  <ng-template #notAllowed>
    <div class="text-center">
      <h1>Sorry, printing this page is not allowed.</h1>
    </div>
  </ng-template>
</div>
