<h2 mat-dialog-title>Under Construction</h2>
<mat-dialog-content>
  <p>
    This website is still under construction and won't be ready for quite some time
    due to me being busy with school and other priorities but feel free to check back
    from time to time!
  </p>
  <p>
    You can find me on <a href="https://github.com/hanselrd" target="_blank" tabindex="-1">GitHub</a>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
